/*  */
/* Explore Page Styling */
/*  */

.explore-page {
    text-align: center;
    height: 900px;
    width: 500px;
    border: 1px solid transparent;
    margin: 0 auto;
    background-image: url(./images/explore-original.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
}

/* Explore Page Top Row Container, Input Field For Search */

.explore-top-container {
    margin-left: 15%;
    margin-top: 26%;
    width: 64%;
    height: 4%;
}

.explore-top-container input {
    float: left;
    margin-left: 10%;
    margin-top: 1.3%;
    height: 70%;
    width: 85%;
    font-size: 16px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #EFEFEF;
}

.explore-top-container input:focus {
    outline-width: 0;
}

/* Explore Page Center Container, Grid Container, Grid Divs */

.explore-center-container {
    margin-left: 13.7%;
    margin-top: 9.3%;
    width: 72.6%;
    height: 59%;
    overflow: hidden;
}

.explore-grid {
    display: grid;
    width: 100%;
    height: 114%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr)
}

.explore-grid-div {
    background-size: cover;
    background-repeat: none;
    background-position: center;
    overflow: none;
}

.explore-grid-div-big {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* Explore Page Bottom Container */

.explore-bottom-container {
    margin-left: 13.7%;
    margin-top: 0%;
    width: 72.6%;
    height: 6%;
}

#explore-bottom-jeremy {
    height: 25px;
    width: 25px;
    margin-left: 80%;
    margin-top: 3.8%;
    border: 2px solid black;
    border-radius: 50%;
}



/*  */
/* Profile Page Styling */
/*  */

.profile-page {
    text-align: center;
    height: 900px;
    width: 500px;
    border: 2px solid transparent;
    margin: 0 auto;
    /* background-image: url(./images/profile-original.png); */
    background-image: url(./images/profile-blank.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    display: none;
}

/* Profile Page Top Row Container, Input Field For Search */

.profile-top-container {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 23%;
    width: 70%;
    height: 27%;
}

.profile-top-name {
    margin-top: 4%;
    margin-left: 33%;
    margin-bottom: 0;
    width: 35%;
    height: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2px;
}

.profile-picture {
    margin-top: 3.3%;
    margin-left: 2.2%;
    height: 80px;
    width: 80px;
    border: 3px solid black;
    border-radius: 50%;
    background-size: 150%;
    background-position: center;
    background-color: white;
    overflow: hidden;
}

.profile-picture img {
    margin: 0 auto;
    transform: scale(1.7)
}

.profile-bottom-name {
    text-align: left;
    padding-left: 1%;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 0;
    width: 35%;
    height: 8%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0;
}

.profile-description {
    margin-top: 1%;
    margin-left: 2%;
    padding-left: 1.4%;
    width: 95%;
    height: 30%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
}


/* Search Page Center Container, Grid Container, Grid Divs */

.profile-center-container {
    margin-left: 13.67%;
    margin-top: 7.6%;
    width: 72.65%;
    height: 38.6%;
    overflow: hidden;
}

.profile-grid {
    display: grid;
    width: 100%;
    height: 105%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.profile-grid-div {
    width: 100%;
    background-size: cover;
    background-repeat: none;
    overflow: none;
}

/* Profile Page Bottom Container */

.profile-bottom-container {
    margin-left: 13.7%;
    margin-top: 0%;
    width: 72.6%;
    height: 6%;
}

.profile-bottom-container img {
    float: left;
    margin-left: 26.22%;
    margin-top: 4.9%;
    height: 48%;
}

#profile-bottom-jeremy {
    float: left;
    margin-left: 52.7%;
    margin-top: 4.5%;
    border: 2px solid black;
    border-radius: 50%;
}